################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nok.Api/Properties
/Nok.Api/obj
/.vs
/Nok.Api/bin
/Nok.Core/bin/Debug/net8.0
/Nok.Core/obj
/Nok.Infrastructure/bin/Debug/net8.0
/Nok.Infrastructure/obj
/Nok.Core/bin/Release/net8.0
/Nok.Infrastructure/bin/Release/net8.0
