################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nok.Api/Properties
/Nok.Api/obj
/.vs
/Nok.Api/bin
